include dash_vega_components/dash_vega_components.min.js
include dash_vega_components/dash_vega_components.min.js.map
include dash_vega_components/metadata.json
include dash_vega_components/package-info.json
include README.md
include LICENSE
include package.json
